*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  color: #414141;
  font-size: 16px;
  line-height: 20px;
  background-color: #FBF8EC;
  margin-right: auto;
  margin-left: auto;
}

button {
  font-family: "Rubik", sans-serif;
}

/* kumbh-sans-regular - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
}
/* kumbh-sans-700 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff");
}
.header {
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
.header_intro {
  width: 100%;
  max-width: 1248px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 360px) {
  .header_intro {
    padding: 8px 16px;
  }
}
.header_info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
}
.header_logo {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
@media only screen and (max-width: 360px) {
  .header_logo {
    margin-right: 20px;
  }
}
.header_logo-img {
  display: flex;
}
@media only screen and (max-width: 360px) {
  .header_logo-img {
    display: none;
  }
}
.header_logo-img-sm {
  display: none;
}
@media only screen and (max-width: 360px) {
  .header_logo-img-sm {
    display: flex;
  }
}
.header_info-btn {
  padding: 8px;
  border-radius: 4px;
  background: #70C05B;
  border: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-right: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
}
@media only screen and (max-width: 360px) {
  .header_info-btn {
    display: none;
  }
}
.header_info-btn-title {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .header_info-btn-title {
    display: none;
  }
}
.header_info-btn:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.header_info-btn:active {
  transform: scale(1);
  opacity: 1;
}
.header_info-btn span {
  color: #fff;
  display: flex;
  height: 24px;
}
.header_info-search {
  display: flex;
  width: 325px;
  padding: 8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #70C05B;
  background: #fff;
}
@media only screen and (max-width: 360px) {
  .header_info-search {
    width: 245px;
  }
}
.header_info-search input {
  border: none;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #232323;
  outline: none;
  margin-right: 10px;
}
@media only screen and (max-width: 360px) {
  .header_info-search input {
    margin-right: 5px;
  }
}
.header_info-search input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #8F8F8F;
}
.header_intro-nav {
  display: flex;
  margin-right: 24px;
}
@media only screen and (max-width: 360px) {
  .header_intro-nav {
    display: none;
  }
}
.header_intro-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 24px;
}
@media only screen and (max-width: 360px) {
  .header_intro-nav-list {
    gap: 0;
  }
}

.header_intro-nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.header_intro-nav-item:hover a {
  color: #FF6633;
}
.header_intro-nav-item:hover-icon {
  color: #FF6633;
}
.header_intro-nav-item:hover-icon svg {
  fill: #FF6633;
}
@media only screen and (max-width: 360px) {
  .header_intro-nav-item {
    gap: 4px;
  }
  .header_intro-nav-item a {
    font-size: 8px;
  }
}
.header_intro-nav-item a {
  text-decoration: none;
  line-height: 150%;
  color: #232323;
}
.header_intro-nav-item-icon {
  height: 24px;
  width: 24px;
  position: relative;
}
.header_intro-nav-item-icon div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 11px;
  height: 11px;
  font-size: 8px;
  top: 0;
  left: 40%;
  background-color: #FF6633;
  color: #fff;
  border-radius: 4px;
}

.header_intro-author {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 10px;
}
@media only screen and (max-width: 360px) {
  .header_intro-author {
    display: none;
  }
}
.header_intro-author-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.header_intro-author-title {
  line-height: 150%;
}
@media only screen and (max-width: 768px) {
  .header_intro-author-title {
    display: none;
  }
  .header_intro-author-icon {
    display: none;
  }
}

.header_fixced {
  display: none;
}
@media only screen and (max-width: 360px) {
  .header_fixced {
    padding: 5px 0;
    width: 100%;
    max-width: 360px;
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    padding: 0 16px;
    align-items: center;
    justify-content: center;
    left: 0;
  }
  .header_fixced .header_intro-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: 0;
  }
  .header_fixced .header_intro-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .header_fixced .header_intro-author {
    display: flex;
    padding: 5px;
  }
}

.main {
  width: 100%;
  max-width: 1248px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 768px) {
  .main {
    padding: 0 16px;
  }
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
  margin-top: 24px;
}
@media only screen and (max-width: 360px) {
  .breadcrumb {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
.breadcrumb_link {
  cursor: pointer;
  font-size: 12px;
  line-height: 150%;
  text-decoration: none;
  color: #8F8F8F;
}
@media only screen and (max-width: 360px) {
  .breadcrumb_link {
    font-size: 8px;
  }
}
.breadcrumb_chevron-icon {
  transform: rotate(-90deg);
}
.breadcrumb .isActive {
  color: #414141;
}

.main_text-wrapper {
  display: flex;
  margin-bottom: 60px;
  gap: 20px;
}
@media only screen and (max-width: 768px) {
  .main_text-wrapper {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 360px) {
  .main_text-wrapper {
    margin-bottom: 32px;
  }
}
.main_text-wrapper span {
  height: 32px;
  padding: 4px 8px;
  background-color: #FF6633;
  color: #fff;
  border-radius: 4px;
  line-height: 150%;
}

.main_title {
  font-size: 64px;
  font-weight: 700;
  line-height: 150%;
  color: #414141;
}
@media only screen and (max-width: 768px) {
  .main_title {
    font-size: 36px;
  }
}
@media only screen and (max-width: 360px) {
  .main_title {
    font-size: 36px;
  }
}

.main_card {
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
}
@media only screen and (max-width: 768px) {
  .main_card {
    gap: 32px;
  }
}
@media only screen and (max-width: 360px) {
  .main_card {
    flex-direction: column;
    margin-bottom: 40px;
  }
}

.main_content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 896px;
}
@media only screen and (max-width: 768px) {
  .main_content {
    gap: 16px;
  }
}
.main_content-header {
  display: flex;
  align-items: center;
  gap: 40px;
}
.main_content-decrement-btn {
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 150%;
  color: #606060;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
.main_content-decrement-btn span {
  border-radius: 4px;
  border: 1px solid #F3F2F1;
  background: #70C05B;
  display: flex;
}
.main_content-decrement-btn:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.main_content-decrement-btn:active {
  transform: scale(1);
  opacity: 1;
}
.main_content-delete-btn {
  border: none;
  padding: 8px;
  display: flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  font-size: 12px;
  line-height: 150%;
  color: #FF6633;
  transition: all 0.3s ease;
}
.main_content-delete-btn:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.main_content-delete-btn:active {
  transform: scale(1);
  opacity: 1;
}
.main_content-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 24px;
}
.main_content-item {
  display: flex;
  gap: 16px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 360px) {
  .main_content-item {
    flex-direction: column;
  }
}
.main_content-item-left {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-right: auto;
}
.main_content-item-img {
  width: 80px;
  position: relative;
}
.main_content-item-img img {
  object-fit: cover;
}
@media only screen and (max-width: 360px) {
  .main_content-item-img {
    width: 104px;
    height: 78px;
  }
  .main_content-item-img img {
    width: 104px;
    height: 78px;
    object-fit: cover;
  }
}
.main_content-item-check {
  position: absolute;
  top: -8px;
  left: 8px;
  display: flex;
  width: 24px;
  height: 24px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #F3F2F1;
  background: #70C05B;
}

.main_content-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}
.main_content-text-wrapper h2 {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: #414141;
}
@media only screen and (max-width: 360px) {
  .main_content-text-wrapper h2 {
    font-size: 12px;
  }
}

.main_content-price-list {
  display: flex;
  gap: 8px;
}

.main_content-price-item {
  display: flex;
  flex-direction: column;
}

.main_content-price-title {
  display: flex;
}
.main_content-price-title h3 {
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}

.main_content-price-subtitle {
  font-size: 12px;
  line-height: 150%;
  color: #BFBFBF;
}
@media only screen and (max-width: 360px) {
  .main_content-price-subtitle {
    font-size: 8px;
  }
}

.main_content-price-text {
  color: #606060;
  font-size: 12px;
}
@media only screen and (max-width: 360px) {
  .main_content-price-text {
    font-size: 8px;
  }
}

.main_content-price-discount {
  display: flex;
  height: 32px;
  padding: 4px 8px;
  background-color: #FF6633;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
@media only screen and (max-width: 360px) {
  .main_content-price-discount {
    font-size: 12px;
    padding: 3px 8px;
    height: 24px;
  }
}

.main_content-right {
  display: flex;
  gap: 16px;
}
@media only screen and (max-width: 768px) {
  .main_content-right {
    flex-direction: column;
    padding: 4px;
    gap: 4px;
  }
  .main_content-right-btns {
    padding: 0;
  }
}
@media only screen and (max-width: 360px) {
  .main_content-right {
    flex-direction: row;
    justify-content: space-between;
  }
}
.main_content-right-btns {
  height: 40px;
  padding: 10px 0;
}
@media only screen and (max-width: 768px) {
  .main_content-right-btns {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 360px) {
  .main_content-right-btns {
    width: 141px;
  }
}
.main_content-right-btns-group {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background-color: #70C05B;
}
.main_content-right-btns-group span {
  color: #fff;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
@media only screen and (max-width: 360px) {
  .main_content-right-btns-group span {
    width: 61px;
  }
}

.main_content-right-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
}

.main_content-right-price {
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 43px;
  padding: 8px;
}
@media only screen and (max-width: 768px) {
  .main_content-right-price {
    padding: 0;
  }
}
@media only screen and (max-width: 360px) {
  .main_content-right-price {
    padding: 8px;
  }
}
.main_content-right-price h3 {
  color: #8F8F8F;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: line-through;
}
@media only screen and (max-width: 360px) {
  .main_content-right-price h3 {
    font-size: 12px;
  }
}
.main_content-right-price .price {
  display: flex;
  gap: 4px;
}
.main_content-right-price .price h2 {
  color: #414141;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}
@media only screen and (max-width: 360px) {
  .main_content-right-price .price h2 {
    font-size: 14px;
  }
}
.main_content-right-price .price p {
  color: #414141;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.disabled {
  opacity: 0.5;
}
.disabled .main_content-item-check {
  background-color: #fff;
}

.saidbar {
  padding-top: 52px;
  width: 272px;
}
@media only screen and (max-width: 360px) {
  .saidbar {
    width: 100%;
    padding-top: 32px;
  }
}
.saidbar__head .smth {
  display: flex;
  align-items: center;
  gap: 20px;
}
.saidbar__head .smth .switch__btn {
  width: 46px;
  height: 25px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #70c05b;
  display: flex;
  align-items: center;
  padding: 2px;
  justify-content: end;
}
.saidbar__head .smth .switch__btn span {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #fff;
}
.saidbar__head p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #8f8f8f;
  margin-top: 20px;
}
.saidbar .liner {
  width: 100%;
  height: 2px;
  background: #f3f2f1;
  margin: 24px 0;
}
.saidbar__body .product {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.saidbar__body .product__number {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #8f8f8f;
}
.saidbar__body .product__summ {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #414141;
}
.saidbar__body .product .discount {
  margin-top: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #8f8f8f;
}
.saidbar__body .product .discount__summ {
  margin-top: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: #f63;
}
.saidbar__footer .total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.saidbar__footer .total .name {
  margin-top: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #8f8f8f;
}
.saidbar__footer .total__summ {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: #414141;
}
.saidbar__footer .bonus {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  color: #70c05b;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
}
.saidbar__footer .bonus span {
  font-weight: 700;
  font-size: 12px;
}
.saidbar__footer .order__btn {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
  padding: 16px;
  background: #f63;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 24px;
  text-align: center;
}
@media only screen and (max-width: 360px) {
  .saidbar__footer .order__btn {
    padding: 8px;
    font-size: 16px;
  }
}

footer {
  width: 100%;
}
footer .footer_content {
  width: 100%;
  max-width: 1248px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin: 24px auto;
}
@media only screen and (max-width: 768px) {
  footer .footer_content {
    margin: 32px auto;
  }
}
@media only screen and (max-width: 360px) {
  footer .footer_content {
    margin: 40px auto 80px;
  }
}

.footer_container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.footer_logo {
  margin-right: 40px;
  display: flex;
}
@media only screen and (max-width: 360px) {
  .footer_logo {
    margin-right: 59px;
  }
  .footer_logo img {
    width: 93px;
    height: 64px;
  }
}

.footer_nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
  margin-right: auto;
}
@media only screen and (max-width: 360px) {
  .footer_nav-list {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .footer_nav-list {
    width: 311px;
    flex-wrap: wrap;
    gap: 16px;
  }
}

.footer_nav-link {
  color: #414141;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer_intro {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media only screen and (max-width: 768px) {
  .footer_intro {
    width: 235px;
    gap: 24px;
  }
}
@media only screen and (max-width: 360px) {
  .footer_intro {
    width: 152px;
    gap: 16px;
    flex-direction: column;
  }
}

.footer_social-list {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  list-style: none;
}
@media only screen and (max-width: 768px) {
  .footer_social-list {
    width: 58px;
    flex-wrap: wrap;
    gap: 8px;
  }
}
@media only screen and (max-width: 360px) {
  .footer_social-list {
    width: 144px;
    gap: 16px;
  }
}

.footer_social-link {
  display: flex;
  width: 24px;
  height: 24px;
}

.footer_contact {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer_contact-number {
  color: #414141;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.footer_about {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer_bottom {
  display: flex;
  align-items: center;
  justify-content: end;
}
@media only screen and (max-width: 768px) {
  .footer_bottom {
    display: none;
  }
}
.footer_bottom-text {
  color: #414141;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  margin-right: 8px;
}

.footer_about-bottom {
  display: none;
}
@media only screen and (max-width: 768px) {
  .footer_about-bottom {
    display: flex;
  }
}
@media only screen and (max-width: 360px) {
  .footer_about-bottom {
    display: none;
  }
}

.footer_nav-list-bottom {
  display: none;
  align-items: center;
  list-style: none;
  gap: 16px;
  width: 304px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 360px) {
  .footer_nav-list-bottom {
    display: flex;
  }
}

.footer_nav-link:hover {
  color: #FF6633;
}/*# sourceMappingURL=main.css.map */