$site-fonts:'Rubik', sans-serif;
$grayscale-hard: #8F8F8F;
$main-on-surface: #414141;
$main-primary: #FF6633;
$main-onSecondary: #fff;
$main-secondary: #70C05B;
$grayscale-hardest: #606060;
$grayscale-light: #BFBFBF;
$main-bg-page: #FBF8EC;
$onSurface: #232323;
$grayscale-lightest: #F3F2F1;